Flask>=3.1,<4
Flask-SQLAlchemy>=3.1,<4
Flask-Bcrypt>=1.0,<2
Flask-Login>=0.6,<1
Flask-Limiter>=4.1,<5
Flask-Migrate>=4.1,<5
python-dotenv>=1.1
psycopg2-binary>=2.9
redis>=8.0
gunicorn>=25.1
requests>=2.32